<div id="footer">
  <div class="footer">
  <div class="social-network">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

    <div class="credits">
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
</div>
</div>
